# node folders
node_modules/

# angular build
dist/
.angular/

# environment files
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db

# vscode local settings
.vscode/